/* ============ HOME ============ */
#home {
	background-image: url(../images/main-bg.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-width: 960px;
	height: 100%;
	position: relative;
}

#home .footer {
	position: absolute;
	bottom: 20px;
	left: 50%;
	right: 50%;
}

.main-header {
	text-align: center;
}

.main-header > div {
	width: 700px;
	margin: 20px auto 0;
	text-align: initial;
}

/* ============ ABOUT ============ */
#about {
	height: 100%;
}

#about .content {
	display: table;
	width: 100%;
	height: 100%;
}

#about .two-col {
	display: table-cell;
	vertical-align: middle;
	width: 60%;
}

#about .two-col:first-child {
	width: 40%;
	background-image: url(../images/about.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: 50%;
	height: 100%;
}

#about .two-col:last-child {
	position: relative;
}

#about .two-col > img {
	height: 100%;
}

#about .nav {
	position: absolute;
	top: 50px;
	right: 30px;
}

#about .context {
	width: 560px;
	margin: 0 auto;
}

#about .context p {
	line-height: 28px;
	margin-top: 50px;
}

/* ============ MAP ============ */
#map {
	height: 100%;
	position: relative;
}

#map .header {
	display: table;
	width: 100%;
}

#map .header > div {
	padding: 30px;
	display: table-cell;
	vertical-align: middle;
}

#map .header div:last-child {
	padding: 0;
}

#map .content {
	padding: 30px 80px;
	height: 100%;
}

.chart {
	height: 70%;
	border-left: 1px solid #fbfeff;
	border-bottom: 1px solid #fbfeff;
	position: relative;
}


.chart .grid {
	border-top: 3px solid #D80000;
	bottom: 0;
	position: absolute;
	height: 50%;
	background: BLACK;
	filter:alpha(opacity=60);
	-moz-opacity:0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
	width: 100%;
	z-index: 999;
	pointer-events: none;
}

.chart ul.country {
	position: absolute;
	display: table;
	width: 100%;
	height: 100%;
	margin: 0;	
	padding: 0;
}


.chart ul.country li {	
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.chart ul.country li a {
	cursor: pointer;
}

.chart ul.year {
	position: absolute;
	bottom: -55px;
	left: -40px;
	display: table;
	width: 100%;
}

.chart ul.year li {	
	display: table-cell;
	text-align: center;
}

.chart ul.year li a {
	color: #ffffff;
	text-decoration: none;
}

#map .footer {
	display: table;
	width: 100%;
	position: absolute;
	bottom: 0;
}

/* ============ MODULES ============ */
#module {
	height: 100%;
	position: relative;
}

/* ============ TOOLTIPS ============ */
a.tooltips {
  position: relative;
  display: inline;
}

a.tooltips span {
  position: absolute;
  top: -120px;
  width: 100%;
  margin: 0 auto;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  height: 30px;
  line-height: 24px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
}
a.tooltips span:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -12px;
  width: 0; height: 0;
  border-top: 12px solid #FAFAFA;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
}
a.tooltips span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #F7F7F7;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.tooltips span {
  visibility: visible;
  bottom: 30px;
  z-index: 999;
}

/* ============ FOOTER ============ */
.footer {
	display: table;
	position: absolute;
	bottom: 0;
	right: 0;
}

.footer ul {
	padding: 0 30px 0 0;	
}

.footer ul li {
	padding: 10px;
}

/* ============ NAVIGATION ============ */
.nav ul {
	margin: 0;
	padding: 0;
	display: flex;
}

.nav ul li {
	display: inline;
	border: 1px solid #ebeefd;
	padding: 5px 10px;
}

.nav ul li a {
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
}

/* ============ MODAL ============ */

.modal-dialog  {
	width: 768px;
	min-width: 768px !important;
}

.modal-content {
	background-color: #424242 !important;
	filter:alpha(opacity=90);
	-moz-opacity:0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	border: 1px solid #fbfeff;
}
.modal-body {
	display: table;
	width: 100%;
}

.modal-body .indent {
	padding-left: 1em;
}

.modal-body h4 {
	font-weight: bold;
	margin: 1em 0 0;
}

.modal-body span {
	font-weight: normal;
}

.modal-body .col-container {
	display: table;
	width: 100%;
	margin-bottom: 1em;
}

@media only screen and (max-width: 1200px) {
	.main-header img {
		width: 90%;
	}
	.chart ul.country {
		padding-left: 5px;
	}
	.chart ul.country li {
		padding-right: 15px;
	}
	.chart ul.country li:first-child a span,
	.chart ul.country li:nth-child(2) a span  {
		height: 60px;
		line-height: 26px;
	}
	.chart ul.country li img {
		width: 100%;
	}
	#about .two-col {
		width: 50% !important;
	}
	#about .two-col:last-child {
		padding: 30px;
	}
}