.modal-header
	h2.modal-title {{ selected_continent.continent }}
	.modal-body
		.two-col
			h4
				| Poverty Headcount: 
				span {{ selected_continent.averageHcount_125.toFixed(4) + '%' }}
			h4
				| Top: 
				span
			.indent
				h4
					| Country: 
					span {{ selected_continent.topCountry_Hcount_value.name }}
				h4
					| Year: 
					span {{ selected_continent.topCountry_Hcount_value.povertyhcount_125_date }}
				h4
					| % of poverty head count: 
					span {{ selected_continent.topCountry_Hcount_value.povertyhcount_125_value.toFixed(4) + '%'}}
			h4
				| Bottom: 
				span
			.indent
				h4
					| Country: 
					span {{ selected_continent.bottomCountry_Hcount_value.name }}
				h4
					| Year: 
					span {{ selected_continent.bottomCountry_Hcount_value.povertyhcount_125_date }}
				h4
					| % of poverty head count: 
					span {{ selected_continent.bottomCountry_Hcount_value.povertyhcount_125_value.toFixed(4) + '%'}}
			h4
				| Per Poverty Line: 
				span USD {{ selected_continent.poverty_rate }}
		.two-col
			.col-container
				h4.two-col
					| Continent: 
				select(ng-model='selected_continent.continent')
					option(value='North America') North America
					|       
					option(value='South America') South America
					|       
					option(value='Antarctica') Antarctica
					|       
					option(value='Australia') Australia
					|       
					option(value='Africa') Africa
					|       
					option(value='Asia') Asia
					|       
					option(value='Europe') Europe
			.col-container
				h4.two-col
					| Target Amount: USD 25,000
				//- select
				//- 	option USD 5,000
				//- 	|       
				//- 	option USD 15,000
				//- 	|       
				//- 	option USD 25,000
			.col-container
				.two-col
				.two-col
					button.btn.btn-default(ng-click='donate()') Donate
	.modal-footer
		button.btn.btn-default(ng-click='ok()') OK
		//- button.btn.btn-default(ng-click='cancel()') Cancel
