.modal-header
    h3.modal-title(style='color: black;') {{ selected_continent }}
    .modal-body
      h1(style='color: black;') Insert text here
    .modal-footer
      button.btn.btn-primary(ng-click='ok()') OK
      button.btn.btn-warning(ng-click='cancel()') Cancel
