#home
  .row
    .container
      .main-header
        img(src='/images/header.png')
        |                     
        div
          p
            | This is Photoshop&apos;s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
    |             
    .footer
      a(href='#map', du-smooth-scroll du-scrollspy)
        img(src='/images/arrow-down.png')
|     
#map
  .row
    .header
      div
        img(src='/images/sub-header.png')
      |                 
      .nav
        ul.right
          li
            a(href='#home', title='Home', du-smooth-scroll du-scrollspy)
              img(src='/images/home-icon.png', alt='Home')
          |                         
          li
            a(href='#about', title='About', du-smooth-scroll du-scrollspy) About
          |                         
          li
            a(href='#', title='Donate') Donate
      |                 
      .clearfix
    |             
    .content
      .chart
        ul.country
          li
            img(src='/images/north-america.png')
          |                         
          li
            img(src='/images/south-america.png')
          |                         
          li
            img(src='/images/antartica.png')
          |                         
          li
            img(src='/images/australia.png')
          |                         
          li
            img(src='/images/africa.png')
          |                         
          li
            img(src='/images/asia.png')
          |                         
          li
            img(src='/images/europe.png')
        |                     
        img.divider(src='/images/poverty-line.png')
        |                     
        ul.year
          li 1960
          |                         
          li 1965
          |                         
          li 1970
          |                         
          li 1975
          |                         
          li 1980
          |                         
          li 1985
          |                         
          li 1990
          |                         
          li 1995
          |                         
          li 2000
          |                         
          li 2005
          |                         
          li 2010
          |                         
          li 2015
    |             
    .footer
      ul.right
        li
          a(href='#', title='Facebook')
            img(src='/images/fb.png', alt='Facebook')
        |                     
        li
          a(href='#', title='Twitter')
            img(src='/images/twitter.png', alt='Twitter')
        |                     
        li
          a(href='#', title='Pinterest')
            img(src='/images/pinterest.png', alt='Pinterest')
      |                 
      .clearfix
|     
#about
  .content
    .two-col
    |             
    .two-col
      .nav
        ul.right
          li
            a(href='#home', title='Home', du-smooth-scroll du-scrollspy)
              img(src='/images/home-icon.png', alt='Home')
          |                         
          li
            a(href='#about', title='About', du-smooth-scroll du-scrollspy) About
          |                         
          li
            a(href='#', title='Donate') Donate
      |             &#x9;
      .context
        img(src='/images/about-hdr.png')
        |                     
        p
          | This is Photoshop&apos;s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad per conubia.
      |                 
      .footer
        ul.right
          li
            a(href='#', title='Facebook')
              img(src='/images/fb.png', alt='Facebook')
          |                         
          li
            a(href='#', title='Twitter')
              img(src='/images/twitter.png', alt='Twitter')
          |                         
          li
            a(href='#', title='Pinterest')
              img(src='/images/pinterest.png', alt='Pinterest')
        |                 
        .clearfix