#home
  .row
    .container
      .main-header
        img(src='/images/header.png')
        |                     
        div
          p
            | This is Photoshop&apos;s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
    |             
    .footer
      a(href='#map', du-smooth-scroll du-scrollspy)
        img(src='/images/arrow-down.png')
|     
#map
  .row
    .header
      div
        img(src='/images/sub-header.png')
      |                 
      .nav
        ul.right
          li
            a(href='#home', title='Home', du-smooth-scroll du-scrollspy)
              img(src='/images/home-icon.png', alt='Home')
          |                         
          li
            a(href='#about', title='About', du-smooth-scroll du-scrollspy) About
          |                         
          li
            a(href='#', title='Donate') Donate
      |                 
      .clearfix
    |             
    .content
      .chart
        .grid
        ul.country
          li
            a.tooltips(href='#', ng-click='showDetails("North America")')
              span North America
              img(src='/images/north-america.png')
          |                         
          li
            a.tooltips(href='#', ng-click='showDetails("South America")')
              span South America
              img(src='/images/south-america.png')
          |                         
          li
            a.tooltips(href='#', ng-click='showDetails("Antartica")')
              span Antartica
              img(src='/images/antartica.png')
          |                         
          li
            a.tooltips(href='#', ng-click='showDetails("Australia")')
              span Australia
              img(src='/images/australia.png')
          |                         
          li
            a.tooltips(href='#', ng-click='showDetails("Africa")')
              span Africa
              img(src='/images/africa.png')
          |                         
          li
            a.tooltips(href='#', ng-click='showDetails("Asia")')
              span Asia
              img(src='/images/asia.png')
          |                         
          li
            a.tooltips(href='#', ng-click='showDetails("Europe")')
              span Europe
              img(src='/images/europe.png')
        |                    
        ul.year
          li: a(href='#') 2000                       
          li: a(href='#') 2001                
          li: a(href='#') 2002                   
          li: a(href='#') 2003                   
          li: a(href='#') 2004                    
          li: a(href='#') 2005                  
          li: a(href='#') 2006                  
          li: a(href='#') 2007
          li: a(href='#') 2008
          li: a(href='#') 2009
          li: a(href='#') 2010
          li: a(href='#') 2011
          li: a(href='#') 2012
    .footer
      ul.right
        li
          a(href='#', title='Facebook')
            img(src='/images/fb.png', alt='Facebook')
        |                     
        li
          a(href='#', title='Twitter')
            img(src='/images/twitter.png', alt='Twitter')
        |                     
        li
          a(href='#', title='Pinterest')
            img(src='/images/pinterest.png', alt='Pinterest')
      .clearfix
#module
  .row
    .container
#about
  .content
    .two-col
    |             
    .two-col
      .nav
        ul.right
          li
            a(href='#home', title='Home', du-smooth-scroll du-scrollspy)
              img(src='/images/home-icon.png', alt='Home')
          |                         
          li
            a(href='#about', title='About', du-smooth-scroll du-scrollspy) About
          |                         
          li
            a(href='#', title='Donate') Donate
      |             &#x9;
      .context
        img(src='/images/about-hdr.png')
        |                     
        p
          | This is Photoshop&apos;s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad per conubia.
      |                 
      .footer
        ul.right
          li
            a(href='#', title='Facebook')
              img(src='/images/fb.png', alt='Facebook')
          |                         
          li
            a(href='#', title='Twitter')
              img(src='/images/twitter.png', alt='Twitter')
          |                         
          li
            a(href='#', title='Pinterest')
              img(src='/images/pinterest.png', alt='Pinterest')
        |                 
        .clearfi
