
<div id="home">
  <div class="row">
    <div class="container">
      <div class="main-header"><img src="/images/header.png"/>                    
        <div>
          <p>This is Photoshop&apos;s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
        </div>
      </div>
    </div>            
    <div class="footer"><a href="#map"><img src="/images/arrow-down.png"/></a></div>
  </div>
</div>    
<div id="map">
  <div class="row">
    <div class="header">
      <div><img src="/images/sub-header.png"/></div>                
      <div class="nav">
        <ul class="right">
          <li><a href="#home" title="Home"><img src="/images/home-icon.png" alt="Home"/></a></li>                        
          <li><a href="#about" title="About">About</a></li>                        
          <li><a href="#" title="Donate">Donate</a></li>
        </ul>
      </div>                
      <div class="clearfix"></div>
    </div>            
    <div class="content">
      <div class="chart">
        <ul class="country">
          <li><img src="/images/north-america.png"/></li>                        
          <li><img src="/images/south-america.png"/></li>                        
          <li><img src="/images/antartica.png"/></li>                        
          <li><img src="/images/australia.png"/></li>                        
          <li><img src="/images/africa.png"/></li>                        
          <li><img src="/images/asia.png"/></li>                        
          <li><img src="/images/europe.png"/></li>
        </ul>                    <img src="/images/poverty-line.png" class="divider"/>                    
        <ul class="year">
          <li>1960</li>                        
          <li>1965</li>                        
          <li>1970</li>                        
          <li>1975</li>                        
          <li>1980</li>                        
          <li>1985</li>                        
          <li>1990</li>                        
          <li>1995</li>                        
          <li>2000</li>                        
          <li>2005</li>                        
          <li>2010</li>                        
          <li>2015</li>
        </ul>
      </div>
    </div>            
    <div class="footer">
      <ul class="right">
        <li><a href="#" title="Facebook"><img src="/images/fb.png" alt="Facebook"/></a></li>                    
        <li><a href="#" title="Twitter"><img src="/images/twitter.png" alt="Twitter"/></a></li>                    
        <li><a href="#" title="Pinterest"><img src="/images/pinterest.png" alt="Pinterest"/></a></li>
      </ul>                
      <div class="clearfix"></div>
    </div>
  </div>
</div>    
<div id="about">
  <div class="content">
    <div class="two-col"></div>            
    <div class="two-col">
      <div class="nav">
        <ul class="right">
          <li><a href="#home" title="Home"><img src="/images/home-icon.png" alt="Home"/></a></li>                        
          <li><a href="#about" title="About">About</a></li>                        
          <li><a href="#" title="Donate">Donate</a></li>
        </ul>
      </div>            &#x9;
      <div class="context"><img src="/images/about-hdr.png"/>                    
        <p>This is Photoshop&apos;s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad per conubia.</p>
      </div>                
      <div class="footer">
        <ul class="right">
          <li><a href="#" title="Facebook"><img src="/images/fb.png" alt="Facebook"/></a></li>                        
          <li><a href="#" title="Twitter"><img src="/images/twitter.png" alt="Twitter"/></a></li>                        
          <li><a href="#" title="Pinterest"><img src="/images/pinterest.png" alt="Pinterest"/></a></li>
        </ul>                
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>