doctype html(lang='en')
html(ng-app="TheLineProject")
  head
    meta(charset='utf-8')
    | &#x9;
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    | &#x9;
    meta(name='description', content='')
    | &#x9;
    title
    | &#x9;
    link(rel='stylesheet', type='text/css', href='/css/site.css')

    base(href='/')

    title The Line Project

  body
    div(ng-view)

    script(type='text/javascript', src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js")
    script(type='text/javascript', src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-resource.js")
    script(type='text/javascript', src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js")
    script(type='text/javascript', src="http://code.angularjs.org/1.2.0/angular-animate.min.js")
    script(type='text/javascript', src="/js/ng.js")